*{
    margin: 0;
    padding: 0;
}

nav {
    height: 5rem;
    width: 100%;
    background-color: lightgray;
}

.logo {
    height: 4.4rem;
    width: 45%;
    padding: 4px 0px;
    background-color: lightgray;
    display: flex;
    align-items: center;
}
.monogram {
    height: 3.7rem;
    width: 60px;
    background-color: lightgray;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-top: 5px;
    border-radius: 30px;
    border: 1px solid black;
}
h6 {
    font-size: 24px;
}

.first {
    margin-top: -70px;
    height: 4.3rem;
    width: 55%;
    padding: 5px;
    margin-left: 604px;
    background-color: lightgray;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}
.container {
    height: 35rem;
    width: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    background-image: url("ss.jpg");
    background-size: cover;
}
h1 {
    margin-left: 100px;
    font-style: oblique;
    font-size: 55px;
}
button {
    height: 40px;
    width: 90px;
    background-color: green;
    color: white;
    margin-top: 190px;
    margin-left: -270px;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: orange;
    color: black;
}
.service {
    height: 40px;
    width: 90px;
    background-color: orange;
    color: white;
    margin-top: 190px;
    margin-left: 40px;
    padding: 5px;
    cursor: pointer;
}
.service:hover {
    background-color: green;
    color: black;
}

.second {
    height: 35rem;
    width: 100%;
    background-color: white;
    display: flex;
}
.frt {
    height: 25rem;
    width: 27%;
    background-color: black;
    margin-top: 60px;
    margin-left: 13%;
    background-image: url("glass.jpg");
    background-size: cover;
    border-radius: 10px;
}

h2 {
    margin-top: 70px;
    margin-left: 100px;
    font-size: 40px;
}
.document {
    margin-top: 180px;
    margin-left: -330px;
    text-transform: capitalize;
    font-size: 18px;
}

.discribtion {
    margin-top: 280px;
    font-size: 18px;
    margin-left: -425px;
    text-transform: capitalize;
}
.para {
    margin-top: 315px;
    font-size: 18px;
    margin-left: -535px;
    text-transform: capitalize;
}
.benifit {
    margin-top: 345px;
    font-size: 18px;
    margin-left: -345px;
    text-transform: capitalize;
}
.last {
    margin-top: 375px;
    font-size: 18px;
    margin-left: -305px;
    text-transform: capitalize;
}
.more {
    height: 40px;
    width: 100px;
    padding: 5px;
    background-color: green;
    margin-top: 400px;
    margin-left: -350px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.more:hover {
    background-color: white;
    color: black;
}

.third {
    height: 30rem;
    width: 100%;
    background-color: rgba(95, 158, 160, 0.164);
    display: flex;
}
h4 {
    margin-top: 100px;
    margin-left: 45%;
    font-size: 30px;
}
.box1 {
    height: 200px;
    width: 220px;
    background-color: azure;
    margin-top: 260px;
    margin-left: -550px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-image: url("banana\ shake.jpg");
    background-size: cover;
}
h3 {
    margin-top: 170px;
    /* margin-left: 20px; */
}
.box2 {
    height: 200px;
    width: 220px;
    background-color: azure;
    margin-top: 260px;
    margin-left: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-image: url("apple\ shake.jpg");
    background-size: cover;
}
.box3 {
    height: 200px;
    width: 220px;
    background-color: azure;
    margin-top: 260px;
    margin-left: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-image: url("strawberry\ shake.jpg");
    background-size: cover;
}